<%- include("../partials/header") %>
<div
  class="bg-white shadow overflow-hidden my-3 rounded-lg max-w-sm md:max-w-2xl lg:max-w-4xl mx-auto"
>
  <div class="px-4 py-5 md:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Collection details
    </h3>
  </div>
  <div>
    <ul>
        <% if (collection.games.length) { %>
            <% collection.games.forEach(game => {%>
            <li><%=game.title%></li>
            <%})%>
            <%}%>
    </ul>
  </div>
  <div class="flex justify-center items-center">
    <form
      action="/users/<%=user._id%>/collections/<%=collection._id%>?_method=PUT"
      method="POST"
    >
      <select class="rounded text-2xl" placeholder="" name="game">
        <%uncollectedGames.forEach(game => {%>
            
        <option value="<%=game._id%>"><%=game.title%></option>

        <%})%></select
      ><br />
      <button
        class="bg-[#fc773a] transition duration-150 ease-in-out hover:bg-[#ef654a] rounded text-white px-6 py-2 font-bold text-s focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#fc773a]"
      >
        Submit
      </button>
    </form>
    <form
      action="/collections/<%=collection._id%>?_method=DELETE"
      method="POST"
    >
      <button
        class="bg-red-500 transition duration-150 ease-in-out hover:bg-red-400 rounded text-white px-3 py-2 my-2 text-s focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
      >
        Delete collection
      </button>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
