<%- include("../partials/header") %>
<div class="grid grid-cols-3">
    <div class="mt-7 max-w-sm mx-auto">
        <% tags.forEach(function(tag) { %>
          <div class="bg-green-100 text-green-800 text-xs m-1 inline-block font-semibold px-2.5 py-0.5 rounded ">
            <a href="/tags/<%=tag._id%>"><%=tag.content%></a>
        </div>
        <% }) %>
      </div>
<div class="p-3 mx-auto flex flex-col w-md items-center">
    <div class="text-xl mx-auto my-3 font-bold ">All <%=tag.content%> games</div>
    <ul>
    <% games.forEach(function(game) { %>
      <li>
        <div class="bg-white flex flex-col max-w-md mx-auto my-4 p-4 shadow rounded-lg">
          <div class="mb-1">
            <div class="mb-1">
              <a class="font-bold" href="/games/<%= game.id%>">
                <%= game.title %>
              </a>
            </div>
            <div>
              <%= game.description %>
            </div>
          </div>
          <div class="py-1">
            <div class="bg-indigo-100 text-indigo-800 text-xs inline font-semibold px-2.5 py-0.5 rounded">
              <% if (game.reviews.length === 1) {%>
                1 review
              <%} else {%>
              <%=game.reviews.length%> reviews</div>
              <% } %>
          </div>
          <div class="text-right flex-wrap flex justify-end">
  
            <% game.tag.forEach(function(tag) { %>
            <div class="bg-green-100 text-green-800 text-xs m-1 inline-block font-semibold px-2.5 py-0.5 rounded ">
                <%=tag.content%>
            </div>
            <%})%>
          </div>
          <div class="">
            <a href="/games/<%= game.id%>">
              <button
                class="bg-[#fc773a] transition duration-150 ease-in-out hover:bg-[#ef654a] rounded text-white px-4 py-1 font-semibold text-xs focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#fc773a]"
                >Details
              </button>
            </a>
          </div>

        </div>
      </li>
      <%}) %>
    </ul>
  </div>
  <div></div>
  </div>
<%- include("../partials/footer") %>