<%- include("../partials/header.ejs") %>

<div class="p-3">
  <ul>
  <% games.forEach(function(game) { %>
    <li>
      <div class="bg-white grid grid-rows-3 items-center max-w-md mx-auto my-4 p-4 shadow rounded-lg">
        <div>
          <a class="font-bold" href="/games/<%= game.id%>"><%= game.title %></a><br />
          <%= game.description %><br/>
        </div>
        <div class="text-right">
          <% if((game.tag)) { %> 
          <% game.tag.forEach(function(tag) { %>
          <div class="bg-green-100 text-green-800 text-xs inline font-semibold mr-2  mb-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">
              <%=tag.content%>
          </div>
          <% })} %>
        </div>
        <div>
          <a href="/games/<%= game.id%>">
            <button
              class="bg-[#fc773a] transition duration-150 ease-in-out hover:bg-[#ef654a] rounded text-white px-4 py-1 font-semibold text-xs focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#fc773a]"
              >Details
            </button>
          </a>
        </div>

      </div>
    </li>
    <%}) %>
  </ul>
</div>

</div>
<%- include("../partials/footer.ejs") %>
